*{
    margin:0px;
    padding:0px;
}

h1{
    text-align: center;
}

form{
    border: 3px solid black;
    border-radius: 2px solid black;
    padding: 10px 10px 10px 10px;
    background-color: lightgray;
    margin: 30px 10px 0px 10px;
}

label h4{
    text-align: center;
}

.casilla{
    margin-left: 40%;
    width: 20vw;
    height: 5vh;
}

.envio{
    margin-left: 45%;
    width: 5vw;
    height: 5vh;
}

.limpiar{
    width: 5vw;
    height: 5vh;
}

.parrafo{
    text-align: center;
    margin-top: 12px;
    font-size: 17pt;
}